.card {
  max-width: 860px !important;
  font-size: 16px;
  font-family: 'Segoe UI', Helvetica, sans-serif;
  padding: 30px;
  margin: 120px auto 30px !important;
  display: grid;
  grid-template: 1fr / 40% 60%;
  border-radius: 20px;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &__image-stars {
    position: relative;

    .image {
      border-radius: 20px;
      overflow: hidden;
      margin-top: -120px;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);

      img {
        width: 100%;
        vertical-align: top;
      }
    }

    .stars {
      text-align: center;
      margin-top: 40%;
      color: yellow;
      
      i.dashicons {
        font-size: 2em;
        margin: 0 5px;
      }
    }
  }

  &__content {
    padding-left: 30px;
    text-align: center;

    .title-year {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .title,
      .year {
        display: inline-block;
      }

      .title {
        text-transform: uppercase;
        font-size: 2em;
        line-height: 2em;
        padding-right: 10px;
      }
    }

    .category-director-actors {
      margin-bottom: 20px;

      & > p {
        text-transform: uppercase;
        font-size: 0.875em;
        margin-bottom: 6px;
      }
    }

    .description {
      font-size: 1.125em;
      margin-bottom: 40px;
    }

    a {
      display: inline-block;
      margin-bottom: 30px;
      padding: 12px 36px;
      text-transform: uppercase;
      text-decoration: none !important;
      transition-duration: 0.3s;
    }
  }
}

@media screen and (max-width: 1100px) {
  .card {
    grid-template-columns: 1fr;
    height: auto;

    &__image-stars {
      margin-bottom: -50px;

      .image {
        margin: -120px auto 0;
        width: 80%;
      }

      .stars {
        margin-top: 30px;
      }
    }

    &__content {
      margin-top: 70px;
      padding-left: 0;

      .title-year {
        .title {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }
  }
}